<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <!-- Latest compiled and minified CSS & JS -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="container">
      <div class="row">
      <div class="col s4 center-align"><a href="/messages/">Forum</a></div>
      <div class="col s4 center-align"><a href="/auth/login">Login</a></div>
      <div class="col s4 center-align"><a href="/">Home</a></div>
      </div>
      <%- body %>
      <% include partials/alerts %>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
    <script type="text/javascript" src="/js/pagination.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
$('.modal-trigger').leanModal();
});
    </script>
  </body>
</html>
