<a href='/'>Home</a> / Messages
<br /><br />
<% for (var i = 0; i < messages.length; i++) { %>
  <ul><li>
  <div>
  <%= messages[i].msg %>
  <br />
  <% if (currentUser === undefined) { %>
  <% } else if (currentUser.name === messages[i].user) { %>
  <small>
    <a href="<%= messages[i].id %>/edit">Click to edit</a>
  </small>
  <% } %>
  <br />
  <small><%=messages[i].user%><br /><%= messages[i].createdAt %></small>
  </div>
</li></ul>
  <% } %>
