<h1>Post your comment</h1>
<form action="/messages" method="POST" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <div class="row">
    <div class="input-field col s12">
      <textarea rows="10" cols="40" name="msg" placeholder="Comment:"></textarea>
    </div>
  </div>
  <button class="btn waves-effect waves-light brown lighten-3" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
