<h1>Create product</h1>
<form action="/products" method="POST" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <div class="row">
    <div class="input-field col s12">
      <textarea rows="10" cols="40" name="description" placeholder="Description"></textarea>
      Name: <input type="text" name="name"><br>
      Quantity: <input type="number" name="quantity"><br>
      Price: <input type="number" name="price"><br>
    </div>
  </div>
  <button class="btn waves-effect waves-light brown lighten-3" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
